$brand-primary:										#fece01; //#ff6d5a

$border-radius:										2px;

$navbar-dark-color:								$brand-primary; // changes the mobile menu hamburger color

$font-weight-light:								300;
$font-weight-medium:							400;
$font-weight-heavy:								600;

$fa-font-path:										"../fonts";