//$font-family:												"proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

$brand-primary:											#de0000;
//$light-gray:												#f3f3f3;
//$lighter-gray:											#f9f9f9;
//$black:															#222222;
//$white:															#ffffff;

//$font-weight-light:									300;
//$font-weight-medium:								400;
//$font-weight-heavy:									$font-weight-medium;

//$navbar-height:											64px; // make sure this is the same as the scrollspy offset and the smooth scroll offset

//$border-radius:											0;

//$navbar-light-color:								$brand-primary; // changes the mobile menu hamburger color
//$navbar-dark-color:									$brand-primary; // changes the mobile menu hamburger color


$footer-bg:													#777;

$font-path:													"../fonts";
$fa-font-path:											$font-path;