body {
	font-family: $body-font;
	font-weight: $font-weight-medium;
	letter-spacing: 0.05em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $headline-font;
	font-weight: $font-weight-medium;
}

a {
	color: $brand-primary;
	&:hover {
		text-decoration: none;
		color: darken($brand-primary, 10%);
	}
}

.wrapper {
	padding: $navbar-height 0 30px; // for .fixed-top navbars
}