#wrapper-navbar {
	// min-height: $navbar-height;
	.navbar-brand {
		img {
			max-width: 200px;
			//margin-left: calc(((100vw - 2rem - 42px) - 200px) / 2);
			@include media-breakpoint-up(md) {
			  max-width: 260px;
			  //margin-left: calc(((100vw - 2rem - 42px) - 260px) / 2);
			}
			@include media-breakpoint-up(lg) {
				max-width: 200px;
			  margin-left: 0;
			}
			@include media-breakpoint-up(xl) {
			  max-width: 260px;
			}
		}
	}
	button:focus {
		outline: none;
	}
	.navbar-toggler {
		border: none;
		padding: 0.25rem 0 0.25rem 0.75rem;
	}
	.bg-dark {
		background-color: $gray-600 !important;
	}
	.bg-light {
		background-color: lighten($brand-primary, 45%) !important;
	}
	.navbar-dark {
	}
	.navbar-light {
		.navbar-nav {
			.active {
				> .nav-link {
					//color: $brand-logo-dark; // active links in navbar-light
				}
			}
			.nav-link {
				//color: $brand-logo-medium; // active links in navbar-light
				.active, .show {
					//color: $brand-logo-dark; // active links in navbar-light
				}
				&:focus, &:hover {
					//color: darken($brand-logo-medium, 20%);  // hover and focus links in navbar-light
				}
			}
			.show {
				> .nav-link {
					//color: $brand-logo-dark; // active links in navbar-light
				}
			}
		}
	}
}
